.logo {
    width: 100px; 
    height: auto;
}

.section-title {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;
}

.btn-turquoise:hover, .btn-turquoise.active {
    background-color: #157a64;
    border-color: #157a64;
}